*, *:before, *:after {
  box-sizing: border-box;

}

html{


  overflow-x: hidden;
margin: 0 auto;}


body{
width: 100vw;
 height: 100vh;

  font-family:  "Baloo 2", sans-serif !important;

 

}
.band{
  background-color: #1F3F68;
  height: 50px;
  width: auto;
  position: fixed;
  top:0;
  left: 0;
  right: 0;

  
}
.brand{
  font-size:2.6rem !important;
  font-family: "Baloo 2", sans-serif !important;
  font-weight: bold;
  color:#1F3F68 !important;
}
.intro{
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.5) 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background-size: 100% 100%;
  padding: 80px;

  height: 768px;

}



.maintxt{
  font-size: 72px;
  line-height: 74px;
  font-weight: bold;
  color:#1F3F68
  
}

.paratxt{
  font-size: 20px;
  line-height: 26px;
}



.btn.readmore{
  font-family: 'Baloo 2';
  width: 220px;
  height: 56px;
font-style: normal;
font-weight: 400;
font-size: 18px;
padding: 10px;
line-height: 26px;
/* or 162% */

letter-spacing: 0.05em;

/* Blue_01 */

background: #1F3F68;
}

#basic-nav-dropdown2{
  font-size: 20px;
  font-weight: bold;
  color: #1F3F68;

}


.nav-item{
  font-size: 20px;
  font-weight: bold;
  color: #1F3F68;
}

.dropdown-menu.show{
 
  background: none;
  border: none;
  

}
/* 

.dropdown-menu.show.dropdown-menu.show{
  position: absolute;
  padding: 10px;
  background: rgba(31, 63, 104, 0.5);
  width: 50vw;
  height: 30vh;
} */


.explore{
  color:#1F3F68;
  background-color: rgba(152, 195, 232, 0.4) ;
}


.offcanvas-header{

  background-color: #1F3F68;
  color: white;

  
  font-weight: bold;
 
}

.offcanvas-body{
  background-color: #1F3F68;
  color: white ;




}

.offcanvas-body .nav-item .nav-link{
  color: white;

}




#sidebar-menu {
  width: 50vw
}

@media (max-width:576px) {
  #sidebar-menu {
      width: 10vw;
     
  }
  
}

.page-header{
  background: url("./Mask\ Group.svg") no-repeat center;
  background-size: cover;
  height: 15vh;
  color: white;
  
}



